<!-- _includes/footer.html -->
<footer class="page-footer">
  <div class="container center-align">
    <h5>Trusted by Industry Leaders</h5>
    <p>Our tools have been used by over 1,000 successful entrepreneurs and have received glowing recommendations from experts across the industry.</p>
    <div class="social-icons">
      <a href="#" class="grey-text text-lighten-4"><i class="material-icons">facebook</i></a>
      <a href="#" class="grey-text text-lighten-4"><i class="material-icons">twitter</i></a>
      <a href="#" class="grey-text text-lighten-4"><i class="material-icons">instagram</i></a>
      <a href="#" class="grey-text text-lighten-4"><i class="material-icons">linkedin</i></a>
    </div>
    <hr>
    <span>&copy; 2024 321Niche</span>
    <a href="{{ '/contact.html' | relative_url }}">Contact Us</a>
  </div>
</footer>
